@model Recommender.Model.Song

@{
    ViewBag.Title = "Song Details";
    var songQuery = "https://www.youtube.com/results?search_query=" + Model.Artist.ArtistName + Model.SongTitle;
    songQuery.Replace(' ', '+');
}

<h2>Song Details</h2>

<div class="alert" id="message" role="alert"></div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddSongToUserCollection", null,
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccessAddSongToUserCollection(data)" },
                    new { id = "addSongToUserCollection" }))
                {
                    @Html.HiddenFor(model => model.SongId)
                    foreach (var userCollection in (List<Recommender.Model.UserCollection>)ViewBag.UserCollections)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="collectionIds" value="@userCollection.UserCollectionId">@userCollection.UserCollectionName.ToString()</label>
                        </div>
                    }
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="jumbotron">
            <p align="center">
                <span class="glyphicon glyphicon-music" style="font-size: 60px; color: #5bc0de"></span><br />
            </p>
            <p>
                @Html.DisplayName("Title: ")
                @Html.DisplayFor(model => model.SongTitle)
            </p>
            <p>
                @Html.DisplayName("Artist: ")
                @Html.DisplayFor(model => model.Artist.ArtistName)
            </p>
            <p>
                @Html.DisplayName("Collection: ")
                @Html.DisplayFor(model => model.Collection.CollectionName)
            </p>
            @if (Model.AuthorId != null)
            {
                <p>
                    @Html.DisplayName("Author: ")
                    @Html.DisplayFor(model => model.Author.AuthorName)
                </p>
            }

            <p>
                @Html.DisplayName("Genre: ")
                @Html.DisplayFor(model => model.Genre.GenreName)
            </p>
            @if (Model.Duration != null)
            {
                <p>
                    @Html.DisplayName("Duration: ")
                    @Html.DisplayFor(model => model.Duration)
                </p>
            }

            <button type="button" class="btn btn-info btn-sm" style="float: right;" onclick="window.open('@songQuery')">
                <span class="glyphicon glyphicon-play" style="font-size: 14px;"></span> Play
            </button>

            <button type="button" id="addCollection" class="btn btn-warning btn-sm" style="float: right; margin-right: 10px">
                <span class="glyphicon glyphicon-plus" style="font-size: 14px;"></span> Add to user collection
            </button>
        </div>
    </div>


    <div class="col-md-6 col-xs-12">
        <div class="jumbotron">
            <h4 style="color: #5bc0de">Friends who like this song:</h4>
            <table class="table" style="font-size: small">
                <tr>
                    <th>Name and Surname</th>
                    <th>Username</th>
                    <th></th>
                </tr>
                <tr>
                    <td>tamara</td>
                    <td>tmrdim</td>
                    <td><a>See profile</a></td>
                </tr>


            </table>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="jumbotron">
            <h4 style="color: #5bc0de">Users who like this song:</h4>
            <table class="table" style="font-size: small">
                <tr>
                    <th>Name and Surname</th>
                    <th>Username</th>
                    <th></th>
                </tr>
                <tr>
                    <td>tamara</td>
                    <td>tmrdim</td>
                    <td><a>See profile</a></td>
                </tr>


            </table>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#addCollection').click(function () {
                $('#modal').modal('show');
            });
        });

        function onSuccessAddSongToUserCollection(data) {
            $('#modal').modal('hide');
            if (data == "Success") {
                $('#message').html("You have sucessfully added the song to selected collectons.")
                    .removeClass("alert-danger")
                    .addClass("alert-success")
                    .slideDown("slow");
            } else {
                $('#message').html("Oooops! Something went wrong. Try again.")
                   .removeClass("alert-success")
                   .addClass("alert-danger")
                   .slideDown("slow");
            }
        }

        function submitForm() {
            $('#addSongToUserCollection').submit();

        }
    </script>

}