@model Recommender.Model.AspNetUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Recommender.Model.UserCollection> collections = ViewBag.Collections;
    List<Recommender.Model.AspNetUser> friends = ViewBag.Friends;
    Recommender.Model.AspNetUser loggedUser = ViewBag.LoggedUser;
    List<Recommender.Model.AspNetUser> loggedUserFriends = ViewBag.LoggedUserFriends;
    var isFriend = 0;
}

<div class="container body-content">
    <div class="panel-heading" align="center" style="margin-bottom:20px; background-image:url('../../Content/img/swirl_pattern.png')">

        <h1 style="color: #339999">User Profile for:</h1>
    </div>
    <div class="page-header" align="center">
        <h3 style="color: #339999"> @Model.UserName </h3>
    </div>

    @if (loggedUserFriends.Count != 0 && loggedUser.Id != Model.Id)
    {
        foreach (var f in loggedUserFriends)
        {
            if (f.UserName.Equals(Model.UserName))
            {
                isFriend = 1;
                break;
            }
        }

        if (isFriend == 1)
        {
            <div style="margin-bottom: 20px">
                <a href="@Url.Action("Unfollow", "User", new { id = Model.Id })" class="btn btn-primary" style="background-color: #339999;">Unfollow</a>
            </div>
        }
        else
        {
            <div style="margin-bottom: 20px">
                <a href="@Url.Action("Follow", "User", new { id = Model.Id })" class="btn btn-primary" style="background-color: #339999;">Follow</a>
            </div>
        }
    }
    <br /><br />

    <div class="row" align="center">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>@Model.UserName 's Collections <span class="badge">@collections.Count()</span></h3></div>
                <div class="panel-body">
                    @if (@ViewBag.collections.Count == 0)
                    {
                        <p>Currently, the user doesn't have any collections.</p>
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach (var collection in collections)
                            {
                                <a href="@Url.Action("Details", "UserCollection", new { id = collection.UserCollectionId })" class="list-group-item" style="height:50px">
                                    <span class="glyphicon glyphicon-tasks pull-right"></span>  @collection.UserCollectionName
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>@Model.UserName is Following <span class="badge">@friends.Count()</span></h3></div>
                <div class="panel-body">
                    @if (@ViewBag.friends.Count == 0)
                    {
                        <p>Currently, the user doesn't have any following users.</p>
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach (var currentUser in friends)
                            {
                                <a href="@Url.Action("Details", "User", new { id = currentUser.Id, loggedId = loggedUser.Id })" class="list-group-item" style="height:50px">
                                    <span class="glyphicon glyphicon-user pull-right"></span>  @currentUser.UserName
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




</div>