@model Recommender.Model.AspNetUser

@{
    ViewBag.Title = "UserProfile";
    List<Recommender.Model.UserCollection> collections = ViewBag.Collections;
    List<Recommender.Model.AspNetUser> friends = ViewBag.Friends;
}

<div class="container body-content">
    <div class="panel-heading" align="center" style="margin-bottom:20px; background-image:url('../../Content/img/swirl_pattern.png')">

        <h1 style="color: #339999">My profile</h1>

    </div>

    <div class="row" align="center">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>What is your favorite song right now?</h2>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter song">
                    </div>
                    <a href="#" role="button" class="btn btn-default">Go!</a>
                </form>
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>@Model.UserName 's Collections <span class="badge">@ViewBag.Collections.Count</span></h3></div>
                <div class="panel-body">
                    @if (@ViewBag.collections.Count == 0)
                    {
                        <p>Currently, the user doesn't have any collections.</p>
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach (var collection in collections)
                            {
                                <a href="@Url.Action("Details", "UserCollection", new { id = collection.UserCollectionId })" class="list-group-item" style="height:50px">
                                    <span class="glyphicon glyphicon-tasks pull-right"></span>  @collection.UserCollectionName
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>@Model.UserName is following <span class="badge">@friends.Count()</span></h3></div>
                <div class="panel-body">
                    @if (friends.Count() == 0)
                    {
                        <p>Currently, user doesn't have any following users.</p>
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach (var currentUser in friends)
                            {
                                <a href="@Url.Action("Details", "User", new { id = currentUser.Id, loggedId = Model.Id })" class="list-group-item" style="height:50px">
                                    <span class="glyphicon glyphicon-user pull-right"></span>  @currentUser.UserName
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




</div>


<div style="margin-bottom: 20px">
    <a href="@Url.Action("Dashboard", "Home",new { id = Model.Id })" class="btn btn-primary" style="background-color: #339999; margin-left: 180px;">Go back to Dashboard</a>
</div>

